*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    /*font-family: 'Nunito Bold';*/
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;


}


._container{
    max-width: 1140px;
    margin: 0 auto;
}

.header_container{
    display: flex;
    min-height: 40px;
    align-items: center;
    /*margin-top: 72px;*!*/
}



.logo{
    /*margin-left: 52px;*/
    margin-top: 72px;
}

.cart{
    position: absolute;
    right: 180px;
    /*top:100px;*/
    /*left:180px;*/
    margin-top: 72px;
    /*margin-left:878px ;*/
}


/*....MENU......................................................*/

.page{
    flex: 1 1 auto;
}

.menu_div{
    /*margin-right: 200px;*/
    position: absolute;
    /*top: 20px;*/
    right:77px;
    top: 230px;
}
.header_menu a{
    color:#EDF0F5;
    text-decoration: none;
    /*margin-right: 127px;*/
    /*margin-bottom: 200px;*/
    /*margin-top: 200px;*/
}
.menu{
    /*margin: 0px 0 0px 0px;*/
    /*margin-top: 282px;*/

}

.menu_list{

}

.menu_item{
    padding: 24px;
}

.page_main_block{
    position: absolute;
    top:504px;
}


.page_name{
    font-size: 54px;
    word-wrap: revert;
}

.main_block_image{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1076px;
    max-height: 768px;
    top: 0px;
    right: 274px;
    object-fit: cover;
}

.rectangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 768px;
    max-width: 328px;
    background: #415167;
}

/*....features block...........................*/
.features{
    position: absolute;
    top: 200px;
    z-index: 100;
}

.features p{
    font-size: 24px;
    color: black;
}

